body{
  background-color: #FF5733;

}

.social ul {
  list-style: none;

  }
  .social ul li a{
    float: left;
    padding: 11px;
    margin: 35px 0 0 0;
  }
.social ul li .icon-facebook{background:#013ADF;}
.social ul li .icon-line{background:#0404B4;}
.social ul li .icon-twitter2{background:#D7DF01;}
.social ul li .icon-whatsapp2{background:#ae181f;}
.social ul li .icon-youtube{background:#3ADF00;}

.social ul li a:hover{
  padding: 15px;
}
.sector1{
  background-color: white;
}
.logoacdc{
  margin:10px 0 0 0;
}
